@tailwind base;
@tailwind components;
@tailwind utilities;

:root {

}


body {
  font-family: Arial, Helvetica, sans-serif;
}

.checkbox-rounded {
  height: 1rem;
  width: 1rem;
  clip-path: circle(40% at 50% 50%);
}

.checkbox-color {
  appearance: none;
}

.checkbox-color:checked {
  appearance: auto;
}